ion-content {
    --padding-top: 50%;
    --padding-start: 8%;
    --padding-end: 8%;
}

.item-avatar  {     
    width:100% !important;  
    height : 100% !important;  
    max-width: 70px !important;  //any size
    max-height: 100px !important; //any size
    }

h3 {
    font-size: 25px!important
}

@media(min-width: 792px) {
    ion-content {
        --padding-top: 10%;
        --padding-start: 30%;
        --padding-end: 30%;
        --padding-bottom: 50%
    }
}