ion-content {
    --padding-top: 10%;
    --padding-start: 10%;
    --padding-end: 10%;
}

.item-avatar  {     
    width:100% !important;  
    height : 100% !important;  
    max-width: 70px !important;  //any size
    max-height: 100px !important; //any size
    }

h3 {
    font-size: 25px!important
}