@media(min-width: 992px) {
    .content-center {
        --padding-top: 1%;
        --padding-start: 15%;
        --padding-end: 15%;
    }
}

.item-avatar  {     
    width:100% !important;  
    height : 100% !important;  
    max-width: 70px !important;  //any size
    max-height: 100px !important; //any size
    }

h3 {
    font-size: 25px!important
}