<ion-header>
  <ion-toolbar>
    <ion-title>Wykresy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-center">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Wykres kontrolowanych przedmiotów z podziałem na</ion-card-subtitle>
      <ion-card-title>Typ szkody</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button fill="outline" size="small" (click)="onMonthButtonClick()">{{months[chosenMonth]}}</ion-button>
      <canvas #barChart></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Wykres pokazujący ilość</ion-card-subtitle>
      <ion-card-title>Zgłoszonych szkód</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #lineChart></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
