<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Raporty </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Strona główna</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img
          src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg"
        />
      </ion-avatar>
      <ion-card-title> Witaj, {{ currentUser.displayName }} </ion-card-title>
      <ion-button fill="outline" slot="end" (click)="logout()"
        >Wyloguj</ion-button
      >
    </ion-item>

    <ion-card-content>
      Twój identyfikator: {{ currentUser.uid }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title> Oczekujące raporty </ion-card-title>
    </ion-card-header>
    <div *ngFor="let r of reportsService.reports">
      <ion-list
        lines="none"
        *ngIf="!r.isArchived && r.workerId === currentWorker.workerId"
      >
        <ion-item-sliding>
          <ion-item>
            <ion-badge
              *ngIf="r.creationDate !== '0001-01-01T00:00:00'"
              slot="start"
            >
              {{r.creationDate | date: 'dd.MM.yyyy'}}
            </ion-badge>
            <ion-label>
              <h2>
                Raport nr {{ r.reportId }} {{
                ReportAcceptance[r.reportAcceptance] }}
              </h2>
              <p>Wada: {{ DamageType[r.damageType] }}</p>
            </ion-label>
            <ion-icon
              *ngIf="r.reportAcceptance === 0"
              color="warning"
              name="pause-circle-outline"
            ></ion-icon>
          </ion-item>

          <ion-item-options side="start">
            <ion-item-option id="{{'open-modal-' + r.reportId}}">
              <ion-icon
                name="information-circle-outline"
                style="font-size: 25px"
              ></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>

      <ion-modal
        #modal
        trigger="{{'open-modal-' + r.reportId}}"
        [presentingElement]="reportDetails"
      >
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Informacje</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="modal.dismiss()"> Zamknij </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <ion-list>
              <ion-item>
                <ion-avatar slot="start">
                  <ion-icon
                    name="person-outline"
                    style="font-size: 30px"
                  ></ion-icon>
                </ion-avatar>
                <div *ngFor="let w of workersService.workers">
                  <div *ngIf="w.workerId === r.workerId">
                    <ion-label>
                      <h2>Pracownik raportujący</h2>
                      <p>{{ w.name }} {{ w.surname }}</p>
                    </ion-label>
                  </div>
                </div>
              </ion-item>
              <ion-item>
                <ion-avatar slot="start">
                  <ion-icon
                    name="cube-outline"
                    style="font-size: 30px"
                  ></ion-icon>
                </ion-avatar>
                <div *ngFor="let i of itemsService.items">
                  <div *ngIf="i.itemId === r.itemId">
                    <ion-label>
                      <h2>Produkt kontrolowany</h2>
                      <p>Numer seryjny: {{ i.serialNumber }}</p>
                      <p>Nazwa: {{ i.name }}</p>
                      <p>Producent: {{ i.manufacturer }}</p>
                    </ion-label>
                  </div>
                </div>
              </ion-item>
              <ion-item>
                <ion-avatar slot="start">
                  <ion-icon
                    *ngIf="r.reportAcceptance === 0"
                    name="pause-circle-outline"
                    style="font-size: 30px"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="r.reportAcceptance === 1"
                    name="checkmark-circle-outline"
                    style="font-size: 30px"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="r.reportAcceptance === 2"
                    name="close-circle-outline"
                    style="font-size: 30px"
                  ></ion-icon>
                </ion-avatar>
                <ion-label>
                  <h2>Status raportu</h2>
                  <p>{{ ReportAcceptance[r.reportAcceptance] }}</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-avatar slot="start">
                  <ion-icon
                    name="duplicate-outline"
                    style="font-size: 30px"
                  ></ion-icon>
                </ion-avatar>
                <ion-label>
                  <h2>Data utworzenia raportu</h2>
                  <p>{{r.creationDate | date: 'dd.MM.yyyy r. HH:MM'}}</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-avatar slot="start">
                  <ion-icon
                    name="thumbs-down-outline"
                    style="font-size: 25px"
                  ></ion-icon>
                </ion-avatar>
                <ion-label>
                  <h2>Powód zgłoszenia</h2>
                  <p>{{ DamageType[r.damageType] }}</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-avatar slot="start">
                  <ion-icon
                    name="pricetag-outline"
                    style="font-size: 30px"
                  ></ion-icon>
                </ion-avatar>
                <ion-label>
                  <h2>Opis</h2>
                  <p>{{ r.description }}</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <h2>Zdjęcie szkody dołączone do raportu</h2>
                  <p><img src="{{r.photosPath}}" /></p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <h2>Podpis cyfrowy pracownika</h2>
                  <p><img src="{{r.signature}}" /></p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-modal>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title> Zarchiwizowane raporty </ion-card-title>
    </ion-card-header>
    <div *ngFor="let r of reportsService.reports">
      <ion-list
        lines="none"
        *ngIf="r.isArchived && r.workerId === currentWorker.workerId"
      >
        <ion-item-sliding>
          <ion-item>
            <ion-badge
              *ngIf="r.creationDate !== '0001-01-01T00:00:00'"
              slot="start"
            >
              {{r.creationDate | date: 'dd.MM.yyyy'}}
            </ion-badge>
            <ion-label>
              <h2>
                Raport nr {{ r.reportId }} {{
                ReportAcceptance[r.reportAcceptance] }}
              </h2>
              <p>Wada: {{ DamageType[r.damageType] }}</p>
            </ion-label>
            <ion-icon
              *ngIf="r.reportAcceptance === 1"
              color="success"
              name="checkmark-circle-outline"
            ></ion-icon>
            <ion-icon
              *ngIf="r.reportAcceptance === 2"
              color="danger"
              name="close-circle-outline"
            ></ion-icon>
          </ion-item>

          <ion-item-options side="start">
            <ion-item-option id="{{'open-modal-archived-' + r.reportId}}">
              <ion-icon
                name="information-circle-outline"
                style="font-size: 25px"
              ></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>

      <ion-modal
        #modal
        trigger="{{'open-modal-archived-' + r.reportId}}"
        [presentingElement]="reportDetails"
      >
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Informacje</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="modal.dismiss()"> Zamknij </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <ion-list>
              <ion-item>
                <ion-avatar slot="start">
                  <ion-icon
                    name="person-outline"
                    style="font-size: 30px"
                  ></ion-icon>
                </ion-avatar>
                <div *ngFor="let w of workersService.workers">
                  <div *ngIf="w.workerId === r.workerId">
                    <ion-label>
                      <h2>Pracownik raportujący</h2>
                      <p>{{ w.name }} {{ w.surname }}</p>
                    </ion-label>
                  </div>
                </div>
              </ion-item>
              <ion-item>
                <ion-avatar slot="start">
                  <ion-icon
                    name="cube-outline"
                    style="font-size: 30px"
                  ></ion-icon>
                </ion-avatar>
                <div *ngFor="let i of itemsService.items">
                  <div *ngIf="i.itemId === r.itemId">
                    <ion-label>
                      <h2>Produkt kontrolowany</h2>
                      <p>Numer seryjny: {{ i.serialNumber }}</p>
                      <p>Nazwa: {{ i.name }}</p>
                      <p>Producent: {{ i.manufacturer }}</p>
                    </ion-label>
                  </div>
                </div>
              </ion-item>
              <ion-item>
                <ion-avatar slot="start">
                  <ion-icon
                    *ngIf="r.reportAcceptance === 0"
                    name="pause-circle-outline"
                    style="font-size: 30px"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="r.reportAcceptance === 1"
                    name="checkmark-circle-outline"
                    style="font-size: 30px"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="r.reportAcceptance === 2"
                    name="close-circle-outline"
                    style="font-size: 30px"
                  ></ion-icon>
                </ion-avatar>
                <ion-label>
                  <h2>Status raportu</h2>
                  <p>{{ ReportAcceptance[r.reportAcceptance] }}</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-avatar slot="start">
                  <ion-icon
                    name="duplicate-outline"
                    style="font-size: 30px"
                  ></ion-icon>
                </ion-avatar>
                <ion-label>
                  <h2>Data utworzenia raportu</h2>
                  <p>{{r.creationDate | date: 'dd.MM.yyyy r. HH:MM'}}</p>
                </ion-label>
              </ion-item>
              <ion-item
                *ngIf="r.archivingDate !== '0001-01-01T00:00:00' && r.archivingDate !== '1970-01-01T00:00:00'"
              >
                <ion-avatar slot="start">
                  <ion-icon
                    name="archive-outline"
                    style="font-size: 25px"
                  ></ion-icon>
                </ion-avatar>
                <ion-label>
                  <h2>Data archiwizacji</h2>
                  <p>{{r.archivingDate | date: 'dd.MM.yyyy r. HH:MM'}}</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-avatar slot="start">
                  <ion-icon
                    name="thumbs-down-outline"
                    style="font-size: 25px"
                  ></ion-icon>
                </ion-avatar>
                <ion-label>
                  <h2>Powód zgłoszenia</h2>
                  <p>{{ DamageType[r.damageType] }}</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-avatar slot="start">
                  <ion-icon
                    name="pricetag-outline"
                    style="font-size: 30px"
                  ></ion-icon>
                </ion-avatar>
                <ion-label>
                  <h2>Opis</h2>
                  <p>{{ r.description }}</p>
                </ion-label>
              </ion-item>
              <ion-item
                *ngIf="r.archivingDate !== '0001-01-01T00:00:00' && r.archivingDate !== '1970-01-01T00:00:00'"
              >
                <ion-avatar slot="start">
                  <ion-icon
                    name="trash-bin-outline"
                    style="font-size: 30px"
                  ></ion-icon>
                </ion-avatar>
                <ion-label>
                  <h2>Produkt przeznaczony</h2>
                  <p>{{ Decision[r.decision] }}</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <h2>Zdjęcie szkody dołączone do raportu</h2>
                  <p><img src="{{r.photosPath}}" /></p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <h2>Podpis cyfrowy pracownika</h2>
                  <p><img src="{{r.signature}}" /></p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-modal>
    </div>
  </ion-card>
</ion-content>
